.buttonDanger {
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: .8rem;
    background-color: rgb(200 30 30);
    border-radius: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s ease-in background-color;

    &:hover {
        background-color: rgb(162, 7, 7);
    }
}